<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--custom css file link-->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>


<body>
    <div class="form-container">
        <form action="" method="post">
            <h3>welcome to <span>vintage society<i class="fas fa-registered"></i></span></h3>
            <img src="images/vintage_logo.png" alt="">
            <input type="text" name="email" id = "username" placeholder="Enter your username" required class="box">
            <input type="password" name="password" id = "password" placeholder="Enter your password" required class="box">
            <input type="submit" name="submit" onclick = "submitForm()" value="login" class="btn">
            <p>Don't have a VS account yet? <a href="/register">Sign-Up</a></p>
        </form>
    </div>
    <script src="./javascripts/login.js"></script>

</body>

</html>