<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--custom css file link-->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <div class="form-container">
        <form action="" method="post">
            <h3>Register New Account</h3>
            <input type="text" id="name" name="name" placeholder="Enter your name" required class="box">
            <input type="text" id="surname" name="surname" placeholder="Enter your surname" class="box">
            <input type="email" id="email" name="email" placeholder="Enter your email" required class="box">
            <input type="password"  id="password" name="password" placeholder="Enter your password" required class="box">
            <input type="password" id="cpassword" name="cpassword"placeholder="Confirm your password" required class="box">
            <input type="text" id="username" name="username"placeholder="Enter your username" required class="box">
            <input type="text" id="bio" name="bio" placeholder="Enter your bio" required class="box">
            <input type="text" id="phonenumber" name="phonenumber" placeholder="Enter your phone number" required class="box">
            <input type="number" id="age" name="age" placeholder= "Enter your age" required class="box">
            <select id="usertype" name="usertype" class="box">
                <option value="user">Bidder</option>
                <option value="seller">Seller</option>
            </select>
            <input type="submit" name = "submit" onclick="submitForm()" value = "sign in" class ="btn">
            <p>Already have an Art Market account? <a href="/">Sign-in</a></p>
        </form>
    </div>
    <script src="javascripts/register.js"></script>></script>
</body>

</html>